<div class="jumbotron" id="welcome">
  <div class="container-fluid" id="welcome-text">
    <h1>Parc</h1>
    <p>A simple way to find parking</p>
  </div>
</div>
<div class="container-fluid">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id mollis sapien, eu eleifend purus.
    Curabitur ultrices orci et enim fermentum efficitur. Nunc vel vestibulum velit, et feugiat ex.
    Nulla eu lorem a felis malesuada placerat at sed sapien.
    Donec ultricies, ex maximus iaculis aliquet, orci massa finibus sem, nec ornare orci nisi ac neque.
     Donec sagittis lectus at pretium molestie. Sed rutrum augue sed sapien porta, et ullamcorper nibh gravida.
     In ultrices, velit eu mollis eleifend, tortor lorem egestas nibh, non mollis neque magna dapibus est. Maecenas porttitor imperdiet enim.
     Vestibulum cursus tincidunt nibh, vel malesuada leo convallis dictum. Donec feugiat sagittis justo in volutpat.
     Aenean nisl tellus, feugiat in euismod et, sollicitudin vitae ligula. Sed pretium diam metus, vel lobortis est eleifend a.
     Donec maximus vestibulum velit. Quisque posuere tempus enim et lacinia. Mauris vitae dolor efficitur, convallis mi vitae, sagittis nisl.
     Donec tincidunt sodales viverra. Proin scelerisque eget purus eget tincidunt.
     Fusce ac odio sit amet quam feugiat pulvinar sit amet in lectus. Vivamus non mauris commodo, interdum sapien ut, cursus sapien.
      Donec sodales leo at metus luctus, eu scelerisque nulla vulputate. </p>
</div>
