#welcome{
  background: image-url('welcome-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}
#welcome-text{
  margin-top: 20px;
  margin-left: 50px;
}
#car{
  padding-top: 0px;
  padding-bottom: 10px;
  height: 200%;
  width: auto;
}
