<nav class="navbar navbar-default">
  <div class="nav navbar-nav">
    <a href="/" class="navbar-brand"><i class="glyphicon glyphicon-tower"></i></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to "Spots", spots_path %>
    </li>
  </ul>
</nav>
